---
import { getUser } from '@/lib/auth'
import ModelBadge from '@/sections/analysis/components/ModelBadge.astro'
import ReAnaliceButton from '@/sections/analysis/components/ReAnaliceButton'
import ResultData from '@/sections/analysis/components/data/ResultData'
import type { Request } from '@zenstackhq/runtime/models'

interface Props {
    data: Request
}

const { data } = Astro.props

const user = await getUser(Astro.request)
---

<form class="p-6" action="/analysis" method="POST">
    <input type="hidden" value={data.originalText} name="text" />
    {user && <input type="hidden" value={data?.slug} name="slug" />}
    <div class="flex justify-between">
        <h1 class="text-xl sm:text-2xl font-bold mb-4">
            Análisis de Sesgo de Género
        </h1>
        <div class="flex items-center gap-1">
            <ReAnaliceButton dataModel={data.model} client:load />
            <ModelBadge model={data.model} />
        </div>
    </div>
    <ResultData data={data} client:load />
</form>
